.root {
    -fx-background-color: yellow;
}

.red-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/red_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.red-button:hover {
    -fx-background-image: url("images/colourButtons/red_pickme_fisch.png");
}
.red-button:selected {
    -fx-background-image: url("images/colourButtons/red_pickme_happy_fisch.png");
}
.red-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}

.orange-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/orange_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.orange-button:hover {
    -fx-background-image: url("images/colourButtons/orange_pickme_fisch.png");
}
.orange-button:selected {
    -fx-background-image: url("images/colourButtons/orange_pickme_happy_fisch.png");
}
.orange-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.yellow-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/yellow_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.yellow-button:hover {
    -fx-background-image: url("images/colourButtons/yellow_pickme_fisch.png");
}
.yellow-button:selected {
    -fx-background-image: url("images/colourButtons/yellow_pickme_happy_fisch.png");
}
.yellow-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.green-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/green_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.green-button:hover {
    -fx-background-image: url("images/colourButtons/green_pickme_fisch.png");
}
.green-button:selected {
    -fx-background-image: url("images/colourButtons/green_pickme_happy_fisch.png");
}
.green-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.blue-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/blue_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.blue-button:hover {
    -fx-background-image: url("images/colourButtons/blue_pickme_fisch.png");
}
.blue-button:selected {
    -fx-background-image: url("images/colourButtons/blue_pickme_happy_fisch.png");
}
.blue-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.purple-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/purple_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.purple-button:hover {
    -fx-background-image: url("images/colourButtons/purple_pickme_fisch.png");
}
.purple-button:selected {
    -fx-background-image: url("images/colourButtons/purple_pickme_happy_fisch.png");
}
.purple-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.pink-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/pink_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.pink-button:hover {
    -fx-background-image: url("images/colourButtons/pink_pickme_fisch.png");
}
.pink-button:selected {
    -fx-background-image: url("images/colourButtons/pink_pickme_happy_fisch.png");
}
.pink-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.black-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/colourButtons/black_fisch.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 50px;
     -fx-pref-height: 50px;
}
.black-button:hover {
    -fx-background-image: url("images/colourButtons/black_pickme_fisch.png");
}
.black-button:selected {
    -fx-background-image: url("images/colourButtons/black_pickme_happy_fisch.png");
}
.black-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}

.pen-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/toolButtons/pen.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 80px;
     -fx-pref-height: 60px;
}
.pen-button:hover {
    -fx-background-image: url("images/toolButtons/pen_pickme.png");
}
.pen-button:selected {
    -fx-background-image: url("images/toolButtons/pen_pickme_happy.png");
}
.pen-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}

.eraser-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/toolButtons/eraser.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 80px;
     -fx-pref-height: 60px;
}
.eraser-button:hover {
    -fx-background-image: url("images/toolButtons/eraser_pickme.png");
}
.eraser-button:selected {
    -fx-background-image: url("images/toolButtons/eraser_pickme_happy.png");
}
.eraser-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}

.brush-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/toolButtons/brush.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 80px;
     -fx-pref-height: 60px;
}
.brush-button:hover {
    -fx-background-image: url("images/toolButtons/brush_pickme.png");
}
.brush-button:selected {
    -fx-background-image: url("images/toolButtons/brush_pickme_happy.png");
}
.brush-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}

.rect-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/toolButtons/rect.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 85px;
     -fx-pref-height: 50px;
}
.rect-button:hover {
    -fx-background-image: url("images/toolButtons/rect_pickme.png");
}
.rect-button:selected {
    -fx-background-image: url("images/toolButtons/rect_pickme_happy.png");
}
.rect-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: "";
    -fx-opacity: 0;
}


.save-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/otherButtons/save.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 80px;
     -fx-pref-height: 50px;
}
.save-button:hover {
    -fx-background-image: url("images/otherButtons/save_pickme.png");
}
.save-button:pressed {
    -fx-background-image: url("images/otherButtons/save_pickme_happy.png");
}

.upload-button {
     -fx-background-color: transparent;
     -fx-background-image: url("images/otherButtons/upload.png");
     -fx-background-size: 100% 100%;
     -fx-background-repeat: no-repeat;
     -fx-pref-width: 80px;
     -fx-pref-height: 50px;
}
.upload-button:hover {
    -fx-background-image: url("images/otherButtons/upload_pickme.png");
}
.upload-button:pressed {
    -fx-background-image: url("images/otherButtons/upload_pickme_happy.png");
}



 .slider {
    -fx-orientation: vertical;
    -fx-pref-height: 200px;
    -fx-pref-width: 20px;
}
.slider .track {
    -fx-background-color: linear-gradient(to bottom,
        #ff3cac,
        #784ba0,
        #2b86c5,
        #2af598,
        #fecfef,
        #ffdf00
    );
    -fx-background-radius: 10;
    -fx-padding: 0.25em;
}
.slider .thumb {
    -fx-background-image: url("images/switch.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-shape: null;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}
